
        <!-- Wrapper for img -->
  <div class="pictureev" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @event.photo %>)">
  Breakfast
    <button class="back-button btn btn-default">
      <%= link_to 'Back', :back %>
    </button>
</div>

<div class="main-container">
  <div class="main-content">
    <div class="container-show">
      <h1><%= @event.name %></h1><br>
      <div class="div-container-show">

        <div class="text-show">
          <p class="p-show">
          <%= @event.description %></p>
        </div>

      <div class="time-info">
          <p class="p-show">Start - <%= @event.start_time %></p>
          <p class="p-show">End - <%= @event.end_time %> (approximately)</p>
          <br>
          <%= link_to 'Join Now', new_event_potential_attendee_path(@event), class: "btn btn-primary" %>
          <i class="fas fa-user-friends"><%= @event.attendees.count %>/<%= @event.people_needed %></i>
        </div>
      </div>
    </div>
  </div>
  <div id="map" style="background: red;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>







