

      <!-- Wrapper for img -->
    <div class="img">
      <img src=<%= @event.photo %>>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="container">
  <h1><%= @event.name %></h1><br>
  <div class="div-container">

    <div class="text">
      <p>
     <%= @event.description %></p>
    </div>

    <div class="time">
        <p>Start - <%= @event.start_time %></p>
       <p>End - <%= @event.end_time %> (approximately)</p>
    <button >Join_Now"</button>
    <i class="fas fa-user-friends"><%= @event.attendees.count %>/<%= @event.people_needed %></i>
    </div>
  </div>
</div>
