<div class="form-container background">
  <div class="col-4">
    <div class="form">
      <%= simple_form_for :search, method: :get, url: events_path  do |f| %>
        <%= f.input :search, label:"Key word:", required: false %>
        <%= f.input :start_date, as: :string, label:"Start date:", required: false %>
        <%= f.input :end_date, as: :string, label:"End date:", required: false %>
        <%= f.input :people, label:"Group size:", required: false  %>
        <%= f.button :submit, "Search", class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>

  <div class="col-6">
    <div class="home-info">
      <h1> Welcome to the <strong class="home-info-strong">Friendzone</strong></h1>
      <p> Interested in trying out new things, meeting new people or simply bored? <br> With friendzone you can easily join <strong>different activities</strong>. Check out all the exciting activities <strong>near you</strong></p>
    </div>
  </div>
</div>







