<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cms.hostelworld.com/hwblog/wp-content/uploads/sites/2/2016/12/12339301_10156418876675165_6982707928657414417_o.jpg);">
  <div class="container">
    <div class="col-4">
      <div class="form">
        <%= simple_form_for :search, url: events_path  do |f| %>
        <%= f.input :search, label:"Search:", required: false%>
        <%= f.input :date, label:"Date:", required: false %>
        <%= f.input :people, label:"People:", required: false  %>
        <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>



